html
    head
        title file metadata microservice
    body
        form( id="frm-file" action="/" method="post" enctype="multipart/form-data")
            div.form-group
                input.col-9#name.form-control(type='file', placeholder='...mp3 pls' name='file' style="float: left;") 
                button.rounded-right.btn.col-2(type='submit' ) File